body { font-family: sans-serif; background: #eee; }
a, h1, h2 { color: #377BA8; }
h1, h2 { font-family: 'Georgia', serif; margin: 0; }
h1 { border-bottom: 2px solid #eee; }
h2 { font-size: 1.2em; }
td,th { border-bottom: thin solid;
		border-bottom-color: black 
}

.page { margin: 2em auto; width: 65em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.page ul { list-style-type: none; }
.page li { clear: both; }
.metanav { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.avatar { display: block; float: left; margin: 0 10px 0 0; }
.message-content { min-height: 80px; }