{% extends "layout.html" %}
{% block body %}
	<h2>CPE</h2>
	<div>
		{% if cpe %}
		<div>This cpe has a total of {{vuls.count()}} known vulnerabilities</div>
		<div>CPE: {{cpe}}</div>
		<br>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<h3 class='panel-title'>Resumen</h3>
			</div>
			<div class='panel-body'>
				<table class='table'>
					<tr>
						<th>Muy Alto</th>
						<th>Alto</th>
						<th>Medio</th>
						<th>Bajo</th>
					</tr>
					<tr>
						<th class='bg-danger'>{{scores.ma}}</th>
						<th class='bg-warning'>{{scores.a}}</th>
						<th class='bg-info'>{{scores.m}}</th>
						<th class='bg-success'>{{scores.b}}</th>
					</tr>
				</table>
			</div>
		</div>
		<div class='panel panel-default'>
		<table class='table'>
			<tr>
				<th>ID</th>
				<th>Descripción</th>
				<th>Riesgo</th>
			</tr>
			{% for vul in vuls %}
			{% if vul.riesgo == 'Muy Alto' %}
			<tr class='danger'>
			{% elif vul.riesgo == 'Alto' %}
			<tr class='warning'>
			{% elif vul.riesgo == 'Medio' %}
			<tr class='info'>
			{% else %}
			<tr class='success'>
			{% endif %}
				<td>{{vul.id}}</td>
				<td>{{vul.descripcion}}</td>
				<td>{{vul.riesgo}}</td>

			</tr>
			{% endfor %}
		</table>
		</div>
		{% else %}
		<div>Unknown cpes have no known vulnerabilities</div>
		{% endif %}
	</div>
	<div>
		<a href="javascript:history.go(-1)"> Go Back </a>
	</div>
	<br>
{% endblock %}