{% extends "layout.html" %}
{% block body %}
	<h2>Audit</h2>
	{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  	{% endif %}
  	<div >
  		<button class='btn btn-danger' onclick="myFunction()">Delete this audit</button>
  	</div>
  	<script>
	function myFunction() {
	    if (confirm("Are you sure?") == true) {
	    	window.location.assign("{{url_for('delete_audit', audit_id = audit.id)}}")
	    }
	}
</script>
	<div>
		<div>Company: {{audit.network.company}}</div>
		<div>Target: {{audit.target}}</div>
		<div><a href="{{ url_for('machines', audit_id = audit.id)}}" >See Machines</a></div>
		<div><a href="{{ url_for('employees', audit_id = audit.id)}}">See Employees</a></div>
	</div>
	<br>
	<!--
	<div>
		<div id='chart' height='400' width='400'></canvas>
		<script type="text/javascript">
			google.load("visualization", "1", {packages:["corechart"]});
      		google.setOnLoadCallback(drawChart);
	      	function drawChart() {
	        var data = google.visualization.arrayToDataTable([
	          ['Vulnerability Type', 'Quantity'],
	          ['Altair',     0],
	          ['Nikto',      {{nikto}}],
	          ['Wpscan',  {{wpscan}}]
	        ]);

	        var options = {
	          title: 'Vulnerabilities'
	        };

	        var chart = new google.visualization.PieChart(document.getElementById('chart'));
	        chart.draw(data, options);
      		}
		</script>
	</div> -->
	{% if audit.current_phase is none %}
	<div>
		<form action="" method="post">
			<input type="checkbox" name="phase" value="1">Information Gathering<br>
			<input type="checkbox" name="phase" value="2">Vulnerability Assessment<br>
			<input type="checkbox" name="phase" value="3">Vulnerability Exploitation<br>
			<input class="btn btn-default" type="submit" value="Launch">
		</form>
	</div>
	{% else %}
	<meta http-equiv="refresh" content="10">
	<div>
		<div>Audit in progress</div>
		<div>Current Phase: {{ audit.current_phase }}</div>
		<div>Progress <progress value="{{ audit.progress }}" max="1"></progress> </div>
	</div>
	{% endif %}
	<br>
	<div>
		<a href="{{url_for('audits', network_id=audit.network.id)}}">Go Back</a>
	</div>
{% endblock %}