{% extends "layout.html" %}
{% block body %}
	<h2>Audits</h2>
	<ul>
		{% if audit_list.count() > 0 %}
		{% for audit in audit_list %}
			<li><a href= "{{ url_for('audit_detail',audit_id=audit.id) }}">{% print audit.target%}</a> -- {{audit.created}}</li>
		{% endfor %}
		{% else %}
			<div>No audits yet. <a href="{{ url_for('create_audit', network_id = network_id)}}">Create one!</a></div>
		{% endif %}
	</ul>
	<div><a href="{{url_for('network_detail', network_id=network_id)}}">Go Back</a><div>

{% endblock %}