{% extends "layout.html" %}
{% block body %}
  <h1>Create Audit for Company {{network.company}}</h1>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form action="" method=post>
    <dl>
      <dt>Target:
      <dd><input type=text name=target>
      <dd><input type=hidden name=network value={{network.id}}>
      
    </dl>
    <p><input type=submit value=Create>
  </form>
  <div>
    <a href="{{url_for('network_detail', network_id=network.id)}}">Go Back</a>
  </div>
{% endblock %}