{% extends "layout.html" %}
{% block body %}
  <h1>Create Network</h1>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form action="" method=post>
    <dl>
      <dt>Company:
      <dd><input type=text name=company>
      
    </dl>
    <p><input type=submit value=Create>
  </form>
{% endblock %}