{% extends "layout.html" %}
{% block body %}
	<h2>Employees</h2>
	<div class='row'>
		<div class='col-md-5'>
			<ul class='list-group'>
				<li class="list-group-item list-group-item-info"><b>Names</b></li><br>
				{% for employee in employee_list %}
					{% if employee.name %}
					<li class="list-group-item">{% print employee.name %} </li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="col-md-5">
			<ul class='list-group'>
				<li class="list-group-item list-group-item-info"><b>Emails</b></li><br>
				{% for employee in employee_list %}
					{% if employee.email %}
					<li class="list-group-item">{% print employee.email %} </li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<div>
		<a href="{{url_for('audit_detail', audit_id=audit_id)}}">Go Back</a>
	</div>
{% endblock %}