<!doctype html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
<script type="text/javascript" src="../static/jquery-2.1.1.js"></script>  
<script type="text/javascript" src='../static/bootstrap.js'></script>
<script type="text/javascript" src='../static/Chart.js'></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<title>PTAS</title>


<div class=page>
  <h1><a href="{{ url_for('homepage') }}">PTAS</a></h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a><br>
    <a href="{{url_for('register')}}">register</a>
  {% else %}
    <a href="{{ url_for('logout') }}">Log out</a><br>
    <a href="{{ url_for('createNetwork') }}" >Create new Network</a>
  {% endif %}
  </div>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% block body %}{% endblock %}
</div>