{% extends "layout.html" %}
{% block body %}
  <h1>Login</h1>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form action="" method=post>
    <dl>
      <dt>Username:
      <dd><input class='form-control' type=text name=username value="{{
          request.form.username }}">
      <dt>Password:
      <dd><input class='form-control' type=password name=password>
    </dl>
    <p><input class='btn btn-default' type=submit value=Login>
  </form>
{% endblock %}