{% extends "layout.html" %}
{% block body %}
	<h2>Machine</h2>
	<div>
		<div>Company: {{machine.name}}</div>
		<div>Target: {{machine.address}}</div>

		<div class='panel panel-default'>
		<table class='table'>
			<tr>
				<th>Port number</th>
				<th>State</th>
				<th>Service</th>
				<th>Product</th>
				<th>CPE</th>
			</tr>
			{% for port in port_list %}
			<tr>
				{% if port.vulnerabilities.count() > 0 %}
				<td><a href="{{url_for('port_detail', port_id=port.id)}}">{{port.number}}</a></td>
				{% else %}
				<td>{{port.number}}</td>
				{% endif %}
				<td>{{port.state}}</td>
				<td>{{port.service}}</td>
				{% if port.product %}
				<td>{{port.product}}</td>
				{% else %}
				<td>Unknown</td>
				{% endif %}
				{% if port.cpe %}
				<td><a href="">{{port.cpe}}</a></td>	
				{% else %}
				<td>Unknown</td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
		</div>	
	</div>
	<div>
		<a href="{{url_for('machines', audit_id=machine.audit.id)}}">Go Back</a>
	</div>
{% endblock %}