{% extends "layout.html" %}
{% block body %}
	<h2>Machines</h2>
	<ul>
		{% for machine in machine_list %}
		<div class='panel-group' id='accordion'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<h4 class='panel-title'>
					<a data-toggle='collapse' data-parent='#accordion' href="#coll{{machine.id}}">
						{% print machine.name ~ "  (" ~ machine.address ~ ")" %}
					</a>
				</h4>
				
			</div>
			<div id='coll{{machine.id}}' class='panel-collapse collapse'>
				<div class='panel-body'>

				<div>Name: {{machine.name}}</div>
				<div>Address: {{machine.address}}</div>
				<div>OS: {{machine.os}}</div>
				<div>Behind a Web Application Firewall?: {{machine.waf}}</div>
				
				<div>CPE: {{machine.cpe}} {% if machine.cpe != 'unknown' %} <a href="{{url_for('cpe_vuls', cpe=machine.cpe)}}">Possible vulnerabilities</a></div>
				{% endif %}
				<br>

				<div class='panel panel-default'>
				<table class='table'>
					<tr>
						<th>Port number</th>
						<th>State</th>
						<th>Service</th>
						<th>Product</th>
					</tr>
					{% for port in machine.ports %}
					<tr>
						{% if port.vulnerabilities.count() > 0 %}
						<td><a href="{{url_for('port_detail', port_id=port.id)}}">{{port.number}}</a></td>
						{% else %}
						<td>{{port.number}}</td>
						{% endif %}
						<td>{{port.state}}</td>
						<td>{{port.service}}</td>
						{% if port.product %}
						<td>{{port.product}}</td>
						{% else %}
						<td>Unknown</td>
						{% endif %}
					</tr>
					{% endfor %}
				</table>
				</div>	
				</div>
				
			</div>
			</li>
		</div>
		</div>
		{% endfor %}
	</ul>
	<div>
		<a href="{{url_for('audit_detail', audit_id=audit_id)}}">Go Back</a>
	</div>
{% endblock %}