{% extends "layout.html" %}
{% block body %}
	<h2>Networks</h2>
	<ul>
		{% for net in network_list %}
			<li><a href= "{{ url_for('network_detail',network_id=net.id) }}">{% print net.company%}</a></li>
		{% endfor %}
	</ul>
{% endblock %}