{% extends "layout.html" %}
{% block body %}
	<h2>Network</h2>
	<div>
		<div>Company: {{network.company}}</div>
		<div>Created by: {{network.createdBy.username}}</div>
		<div><a href="{{ url_for('audits', network_id = network.id)}}" >See Audits</a></div>
		<div><a href="{{ url_for('create_audit', network_id = network.id)}}" >Create new Audit</a></div>
		<br>
		<div><a href="{{url_for('networks')}}">Go Back</a></div>
		
	</div>
{% endblock %}