{% extends "layout.html" %}
{% block body %}
	<h2>Port</h2>
	<div>
		<div>Port Number: {{port.number}}</div>
		<div>Service: {{port.service}}</div>
		<div>State: {{port.state}}</div>
		{% if port.cpe %}
		<div>CPE: {{port.cpe}}</div>
		{% endif %}
		{% if port.product %}
		<div>Product: {{port.product}}</div>
		{% endif %}
		<div class='panel panel-default'>
		<table class='table'>
			<tr>
				<th>Description</th>
				<th>OSVDB</th>
				<th>Link</th>
				<th>Altair info</th>
			</tr>
			{% for vul in vulnerabilities %}
			<tr>
				<td>{{vul.description}}</td>
				{% if vul.osvdb != 0 %}
				<td><a href="http://osvdb.org/show/osvdb/{{vul.osvdb}}">{{vul.osvdb}}</a></td>
				{% else %}
				<td>{{vul.osvdb}}</td>
				{% endif %}
				<td><a href="{{vul.link}}">{{vul.link}}</a></td>
				{% if vul.os %}
				<td><a href="{{url_for('vul_detail', vul_id=vul.os.code)}}">Details</a></td>
				{% else %}
				<td>--</td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
		</div>
	</div>
	<br>
	<div>
		<a href="{{url_for('machines', audit_id=port.machine.audit.id)}}">Go Back</a>
	</div>
{% endblock %}