{% extends "layout.html" %}
{% block body %}
<h2>Vulnerability</h2>
<div>
	<table>
		<tr>
			<td>Title</td>
			<td>{{vul.title}}</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>{{vul.description}}</td>
		</tr>
		<tr>
			<td>Solution</td>
			<td>{{vul.solution}}</td>
		</tr>
		<tr>
			<td>Risk</td>
			<td>{{vul.risk}}</td>
		</tr>
		<tr>
			<td>Links</td>
			<td>{{vul.links}}</td>
		</tr>
	</table>
</div>
<div>
	<a href="javascript:history.go(-1)"> Go Back </a>
</div>
{% endblock %}